.end {
  text-align: center;
  padding: 20px 0;
}
.icon {
  text-align: center;
  margin: 20px 0;
}
.icon span {
  margin: 0 20px;
  color: var(--white-color);
  font-size: 25px;
  transition: 0.3s;
}
.icon span:hover {
  color: var(--brown-color);
  cursor: pointer;
}
