@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --brown-color: #b09a68;
  --dark-color: #303034;
  --grey-color: #dfdfe0;
  --light-grey-color: #eaeaea;
  --white-color: #fff;
  --black-color: #000;
  --transition: all 300ms ease-in-out;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: "poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
  user-select: none;
}
.container {
  padding: 0 10%;
  position: relative;
}
button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
  cursor: pointer;
}
img {
  width: 100%;
  height: auto;
}
a {
  color: unset;
}
.section-p {
  margin: 10px 0;
  opacity: 0.9;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text_white {
  color: var(--white-color);
}
.text_black {
  color: var(--black-color);
}
.text_brown {
  color: var(--brown-color);
}
.text_grey {
  color: var(--grey-color);
}
.text_dark {
  color: var(--dark-color);
}
.bg_white {
  background-color: var(--white-color);
}
.bg_black {
  background-color: var(--black-color);
}
.bg_brown {
  background-color: var(--brown-color);
}
.bg_grey {
  background-color: var(--grey-color);
}
.bg_dark {
  background-color: var(--dark-color);
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-26 {
  font-size: 26px;
}
.fs-28 {
  font-size: 28px;
}
.fs-30 {
  font-size: 30px;
}
.fs-40 {
  font-size: 40px;
}
.ls {
  letter-spacing: 1px;
}
.btn-button {
  padding: 10px 15px;
  border-radius: 50px;
  background-color: var(--brown-color);
  margin: 10px;
  font-size: 20px;
  border: 2px solid var(--brown-color);
}

@media (max-width: 800px) {
  .container {
    padding: 0 5%;
  }
}
